# 카카오맵API를 통해 위경도 추출
* 출처: https://yobro.tistory.com/5

In [1]:
import requests
import pandas as pd

df= pd.read_csv('서울시기관_.csv', encoding='CP949')
latitude=[]
longitude=[]

for i in df['Location_Regex'].values:
    url=f'https://dapi.kakao.com/v2/local/search/keyword.json?query={i}'
    headers= {
        "Authorization": "KakaoAK API키"
        }
    places=requests.get(url, headers= headers).json()

    if places['documents'] == []:
        latitude.append(0)
        longitude.append(0)

    else:
        latitude.append(float(places['documents'][0]['y']))
        longitude.append(float(places['documents'][0]['x']))

In [2]:
df['Latitude']= latitude
df['Longitude'] = longitude

In [3]:
df

           Location_Regex Location_Dep   Latitude   Longitude
0       서울특별시 중구 세종대로 110       서울시 본청  37.566223  126.978245
1        서울특별시 중구 덕수궁길 15    서울시 서소문청사  37.564440  126.975656
2       서울특별시 중구 서소문로 124   서울시 서소문2청사  37.563106  126.975222
3       강원도 속초시 미시령로 3160       공무원수련원  38.204357  128.553229
4    서울특별시 서초구 헌인릉1길 83-9       농업기술센터  37.465705  127.089788
..                    ...          ...        ...         ...
83    서울특별시 영등포구 여의동로 330      여의도안내센터  37.526347  126.933598
84    서울특별시 용산구 이촌로72길 62       이촌안내센터  37.517240  126.970527
85      서울특별시 송파구 한가람로 65       잠실안내센터  37.517964  127.078327
86  서울특별시 서초구 잠원로 221-124       잠원안내센터  37.520721  127.012294
87     서울특별시 송파구 위례성대로 71      한성백제박물관  37.515413  127.120895

[88 rows x 4 columns]

# 위경도 자료 없는 것들은 구글맵으로 검색

In [4]:
df.loc[df['Latitude']==0]

          Location_Regex         Location_Dep  Latitude  Longitude
14    서울특별시 영등포구 여의동로 43  보행친화기획관 교통지도과 강남지역대       0.0        0.0
28      경기도 남양주시 삼패동 397            강북아리수정수센터       0.0        0.0
30       경기도 하남시 광암동 174            광암아리수정수센터       0.0        0.0
39    서울특별시 강동구 아리수로 131            암사아리수정수센터       0.0        0.0
40     서울특별시 영등포구 노들로 11           영등포아리수정수센터       0.0        0.0
70     서울특별시 성동구 가람길 150               차량정비센터       0.0        0.0
77  서울특별시 강동구 선사로 83-106              광나루안내센터       0.0        0.0

In [5]:
df.iloc[14,2]= 37.5192995
df.iloc[14,3]= 126.9196291

In [6]:
df.iloc[28,2]= 37.5957411
df.iloc[28,3]= 127.1840014

In [7]:
df.iloc[30,2]= 37.5198202
df.iloc[30,3]= 127.1704981

In [8]:
df.iloc[39,2]= 37.5634231
df.iloc[39,3]= 127.1392098

In [9]:
df.iloc[40,2]= 37.550148
df.iloc[40,3]= 126.8788343

In [10]:
df.iloc[70,0]= '서울특별시 성동구 가람길 117'
df.iloc[70,2]= 37.5526775 
df.iloc[70,3]= 127.0540148

In [11]:
df.iloc[77,2]= 37.5499323
df.iloc[77,3]= 127.1200463

In [12]:
df

           Location_Regex Location_Dep   Latitude   Longitude
0       서울특별시 중구 세종대로 110       서울시 본청  37.566223  126.978245
1        서울특별시 중구 덕수궁길 15    서울시 서소문청사  37.564440  126.975656
2       서울특별시 중구 서소문로 124   서울시 서소문2청사  37.563106  126.975222
3       강원도 속초시 미시령로 3160       공무원수련원  38.204357  128.553229
4    서울특별시 서초구 헌인릉1길 83-9       농업기술센터  37.465705  127.089788
..                    ...          ...        ...         ...
83    서울특별시 영등포구 여의동로 330      여의도안내센터  37.526347  126.933598
84    서울특별시 용산구 이촌로72길 62       이촌안내센터  37.517240  126.970527
85      서울특별시 송파구 한가람로 65       잠실안내센터  37.517964  127.078327
86  서울특별시 서초구 잠원로 221-124       잠원안내센터  37.520721  127.012294
87     서울특별시 송파구 위례성대로 71      한성백제박물관  37.515413  127.120895

[88 rows x 4 columns]

In [13]:
df['Latitude'] #소수점 최대 여섯자리까지만 담을 수 있는듯한??
# 그건 아니고 display만 그렇다.

0     37.566223
1     37.564440
2     37.563106
3     38.204357
4     37.465705
        ...
83    37.526347
84    37.517240
85    37.517964
86    37.520721
87    37.515413
Name: Latitude, Length: 88, dtype: float64

In [14]:
pd.options.display.float_format = "{:,.15f}".format
#최대 15자리 소수점까지 display

In [15]:
df['Latitude']

0    37.566223164034596
1    37.564439587225600
2    37.563106022299401
3    38.204357404291301
4    37.465704819344502
            ...
83   37.526347204736901
84   37.517240442107202
85   37.517964179198401
86   37.520721352016203
87   37.515412678518203
Name: Latitude, Length: 88, dtype: float64

In [16]:
df['Longitude']

0    126.978244947578006
1    126.975655748641003
2    126.975221552410005
3    128.553228592544002
4    127.089788289504995
             ...
83   126.933597581409003
84   126.970526590860999
85   127.078326539388001
86   127.012293978105006
87   127.120895017164997
Name: Longitude, Length: 88, dtype: float64

In [17]:
df.to_csv('서울시기관_kakaomap.csv', encoding='CP949')